<div style="color:red;border:1px solid red;padding:10px">
	<h4>I AM A SUBWIDGET: <%= testsub_string %> !</h4>
	<ul style="list-style-type:none">
		<li><b>Instance:</b> <%= widget_template_info[:widget_uuid] %></li>
		<li><b>Parent widget instance:</b> <%= widget_template_info[:parent_widget_context] || 'none' %></li>
	</ul>
</div>