<div style="border:1px solid black;padding:2px">
	<div>TEST WIDGET</div>
	<div>
		<div>Subwidget 1:</div>
		<%= widget 'testsub', 'testsub1', { testsub_string: test_string } %>
		<div>Subwidget 2:</div>
		<%= widget 'testsub', 'testsub2', { testsub_string: test_string } %>
	</div>
</div>